<ion-header>
  <ion-toolbar color = primary>
    <ion-title>Contact Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
          <ion-img src="/assets/contactnew.png"></ion-img><br>
          <ion-card-title>
              <ion-icon name="pin"></ion-icon>
              Address1
          </ion-card-title>
          <ion-card-content style = "color:black">
              #244, Fortskjdhh Summit Business Park<br>
              1st Floor, Hosur Road <br>
              Near Silk Board Junction<br>
              Bengaluru, India – 560068.<br>
              <ion-icon name="call"></ion-icon><ion-text>  +91-80-46306666</ion-text>
              <br>
              Fax: +91-80-41466262<br>
              <ion-text><ion-icon name="mail"></ion-icon>&nbsp;<a href = "info@bhilwarainfo.com">info@bhilwarainfo.com</a></ion-text><br>
          </ion-card-content><br><br>        
  </ion-card>
</ion-content>
