<ion-header>
  <ion-toolbar color = primary>
    <ion-title>
      About Bhilwara
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item class = "mycard">
        <ion-img src="/assets/corporateheader.jpg"></ion-img>
        <div class = "bhillwara">Bhillwara</div>
        </ion-item>
<br>

  <ion-card-content>
 <p>Bhilwara Infotechnology Limited (BIL) is a dedicated technology consulting and implementation company and is a part of the LNJ Bhilwara Group, one of the largest employers in India.</p><br>
 <p>Our team of highly skilled, experienced and motivated professionals are committed towards harnessing technology for providing the best solutions to our customers. Our corporate goal is to provide the best products and services to our customers and build strong and long-term relationship with them.To meet various IT.</p><br>
 <ion-img src="/assets/group-logo.jpg"></ion-img><br><br>
 <p>Challanges that clients face in the areas of eCRM, eBusiness and IT application development, BIL offers a range of services to the eEnterprise and eBusiness space through its solution and services for Customer Relationship Management, Business to Business eCommerce & Business to Consumer eCommerce. BIL is headquatered out of NOIDA, India with offices in Bangalore, US (New Jersey) and U.K. BIL operates a full-fleged ISO 9001:2000 certified software development center that follows processes complaint with Level 5 of the Capability Maturity Model by the Software Engineering Institute (Carneigie Mellon University, US).</p>
  </ion-card-content>
</ion-card>
</ion-content>
