<ion-header>
  <ion-toolbar color = primary>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
      <ion-item>
        <ion-slides pager="true">
          <ion-slides pager="true">
            <ion-slide>
              <ion-img src="/assets/bil-banner.jpg"></ion-img>
            </ion-slide>
            <ion-slide>
              <ion-img src="/assets/corporateheader.jpg"></ion-img>
            </ion-slide>
            <ion-slide>
              <ion-img src="/assets/buil.jpg"></ion-img>
            </ion-slide>
          </ion-slides>
        </ion-slides>
          </ion-item>
    <ion-card-header>
      <ion-card-subtitle>Welcome to Bhillwara</ion-card-subtitle>
      <ion-card-title>Bhillwara Info Technology</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Bhilwara Infotechnology Limited (BIL) is a dedicated technology consulting and implementation company and is a part of the LNJ Bhilwara Group, one of the largest employers in India.

      Our team of highly skilled, experienced and motivated professionals are committed towards harnessing technology for providing the best solutions to our customers. Our corporate goal is to provide the best products and services to our customers and build strong and long-term relationship with them.
    </ion-card-content>
  </ion-card>
  </ion-content>