<ion-header>
  <ion-toolbar color = primary>
    <ion-title style = "color:white">
      Projects
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-title>Project1</ion-card-title><br>
        <ion-item class="myCard">
            <ion-img src="/assets/corporateheader.jpg"></ion-img>
            <div class="myOverlay">Project1</div>
        </ion-item>
      <ion-card-content>
        This is project1, without any paragraph or header tags,
        within an ion-card-content element.
      </ion-card-content>
    </ion-card>
    
    <ion-card>
        <ion-card-title>Project2</ion-card-title><br>
        <ion-item class="myCard">
            <ion-img src="/assets/corporateheader.jpg"></ion-img>
            <div class="myOverlay">Project2</div>
        </ion-item>
      <ion-card-content>
        This is content, without any paragraph or header tags,
        within an ion-card-content element.
      </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-title>Project3</ion-card-title><br>
        <ion-item class="myCard">
            <ion-img src="/assets/corporateheader.jpg"></ion-img>
            <div class="myOverlay">Project3</div>
        </ion-item>
      <ion-card-content>
        This is content, without any paragraph or header tags,
        within an ion-card-content element.
      </ion-card-content>
    </ion-card>
  </ion-content>

